<app-homenav></app-homenav>


<div class="pt-5 my-5 px-xs-0 px-sm-0 pt-xs-0 pt-sm-0 text-center">
    <div class="overflow-hidden">
        <div class="container">
            <img src="https://images.unsplash.com/photo-1600891964599-f61ba0e24092?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="width: 100%; margin-top: 20px;" class="border mb-4" alt="Example image" loading="lazy">
        </div>
    </div>
</div>

<div class="px-4 py-5 my-5 text-center">
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Whether you are planning an intimate dinner for friends,
             a corporate luncheon, or an extravagant soirée, 
             In addition to accommodating as many as 400 guests, 
             our restaurant feature award-winning off-site catering
            and a full service event production team that will 
            make sure every detail is in place, so you don’t have to.
        </p>
    </div>
</div>

<!-- <app-categories></app-categories> -->

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><button type="button" class="btn btn-md btn-outline-danger" style="margin-left: 10px; width: 100%;" routerLink="/view-item">See All Food Item</button></div>
    <div class="col-md-4"></div>
</div>
    


<div class="px-4 py-5 my-5 text-center">
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            The online food  ordering system sets up a 
            food menu online and customers can easily place the order 
            as per they like. Also with  a  food  menu,  online  customers 
            
            can  easily  track  the orders.  The management maintains 
             customers database,  and improve  food delivery  service.
               The Restaurant  management systems motivates us to develop the system.
                
        </p>
    </div>
</div>

<div class="pt-5 my-5 px-xs-0 px-sm-0 pt-xs-0 pt-sm-0 text-center">
    <div class="overflow-hidden">
        <div class="container">
            <img src="https://firebasestorage.googleapis.com/v0/b/restaurant-21-club.appspot.com/o/interior2.jpg?alt=media&token=742de6e1-bbe5-45ee-ad1a-4fc074e5795e" style="width: 100%; margin-top: 20px;" class="border mb-4" alt="Example image" loading="lazy">
        </div>
    </div>
</div>