
<div class="container" id="navbar-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-white" aria-label="Eighth navbar example">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/home-page']">Star Kabab Resturent</a><br>
          

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav" style="margin-left: auto;">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/home-page']" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/home-page']" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/All-cart-item']" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Cart</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" [routerLink]="['/login']" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Log in</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" [routerLink]="['/signup']" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Sign up</a>
                    </li>

                    <li class="nav-item dropdown" >
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Hi,
                            </a>
                        <div class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" >Profile</a>
                            <a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" >My Cart</a>
                            <a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" >My Orders</a>
                            <a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" >Manage Items</a>
                            <a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" >Manage Orders</a>
                            <a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" >Log out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
