




<!-- <div class="container add-edit-div">
    <div class="row">

        <div class="d-flex flex-row-reverse" style="margin-bottom: 30px;">
            <div class="p-2">
                <button type="button" class="btn btn-outline-primary" [routerLink]="['/admin/items']">
                    <i class="fa fa-arrow-left"></i>
                    <span style="margin-left: 3px; margin-bottom: 10px;">
                        Display all items
                    </span>
                </button>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <h2 style="margin-bottom: 40px;">{{selectedPath | titlecase }} Item</h2>

            <form [formGroup]="addOrEditItemsForm" (ngSubmit)="onSubmit()">
                <div (click)="hideResponseTexts()">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Title</label>
                        <input type="itemTitle" class="form-control" formControlName="itemTitle">
                        <span class="error-text" *ngIf="addOrEditItemsForm.controls.itemTitle.errors != null && addOrEditItemsForm.controls.itemTitle.touched">Please enter a title for this item.</span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Description</label>
                        <input type="itemDesc" class="form-control" formControlName="itemDesc">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Price (in ₹)</label>
                        <input type="itemPrice" class="form-control" formControlName="itemPrice">
                        <span class="error-text" *ngIf="addOrEditItemsForm.controls.itemPrice.errors != null && addOrEditItemsForm.controls.itemPrice.touched">Please enter a valid amount.</span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Category</label>
                        <select class="form-select" aria-label="Default select example" formControlName="itemCategory">
                            <option value="starters">Starters</option>
                            <option value="mains">Mains</option>
                            <option value="alcoholic-beverages">Alcoholic Beverages</option>
                            <option value="desserts">Desserts</option>
                      </select>
                        <span class="error-text" *ngIf="addOrEditItemsForm.controls.itemCategory.errors != null && addOrEditItemsForm.controls.itemCategory.touched">Please select a category.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Thumbnail image</label>

                    <div class="form-group mobile-only" *ngIf="previewPath != ''" style="margin-top: 15px;">
                        <div class="container-fluid no-padding">
                            <img [src]=previewPath alt="" class="img-thumbnail" />
                        </div>

                        <div class="text-center">
                            <button type="button" class="btn btn-md btn-outline-danger" style="margin-top: 25px" *ngIf="showDeleteBtn == true && previewPath != ''" (click)="onDeleteImage()">Delete image</button>
                        </div>
                    </div>

                    <input type="file" class="form-control text-nowrap text-truncate" *ngIf="!isUploaded" accept="image/png, image/jpeg, image/jpg" formControlName="itemImage" (change)="selectFile($event)">

                    <span class="error-text" *ngIf="addOrEditItemsForm.controls.itemImage.errors != null && addOrEditItemsForm.controls.itemImage.touched">Please set and upload an image for this item.</span>
                </div>

                <div *ngIf="isUploading" class="progress mt-2" style="margin-bottom: 15px;">
                    <div class="progress-bar progress-bar-animated bg-warning" role="progressbar" attr.aria-valuenow="{{ uploadPercentage }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: uploadPercentage + '%' }">
                        {{ uploadPercentage }}%
                    </div>
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="(selectedFile) && (!isImage)">
                    Please select an .jpg, .jpeg or .png file only.
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="(selectedFile) && (isImage) && (fileSizeExceeded)">
                    Please upload an image smaller than 2 MB.
                </div>

                <div class="alert alert-success" role="alert" *ngIf="onSuccessText != ''">
                    {{onSuccessText}}
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="unknownErrorText != ''">
                    <h4>Some error occurred.</h4>
                    {{unknownErrorText}}
                </div>

                <div class="form-group">
                    <button type="submit" *ngIf="isAdd == true && isUploading == false" style="margin-right: 10px" class="btn btn-md btn-primary" [disabled]="(!addOrEditItemsForm.valid) || isUploading || fileSizeExceeded || !isImage">{{submitBtnText}}</button>

                    <button type="submit" *ngIf="isEdit == true" class="btn btn-md btn-primary" [disabled]="isUploading || fileSizeExceeded || !isImage">{{submitBtnText}}</button>

                    <button type="button" class="btn btn-md btn-outline-danger" style="margin-left: 10px" *ngIf="showDeleteBtn == true" (click)="onDeleteItem()">Delete item</button>

                    <button type="button" class="btn btn-md btn-primary" *ngIf="(isSubmitted == true && isAdd == true) || (unknownErrorText != '' && isAdd == true)" (click)="addAnotherItem()">{{addAnotherItemBtnText}}</button>
                </div>

            </form> -->
<app-navber></app-navber>

            
<div class="container add-edit-div">
    <div class="row card ">
        <div class="card-header">
            <h3><b><i>Food Item Add &nbsp; &nbsp; </i></b></h3>
          </div>
        <div class="d-flex flex-row-reverse" style="margin-bottom: 30px;">
            <div class="p-2">
                <button type="button" class="btn btn-outline-primary" [routerLink]="['/dashboard']">
                    <i class="fa fa-arrow-left"></i>
                    <span style="margin-left: 3px; margin-bottom: 10px;">
                        Display all items
                    </span>
                </button>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <!-- <h2 style="margin-bottom: 40px;">Food Item</h2> -->

            <!-- <form  [formGroup]="productForm" (ngSubmit)="addProduct()" class="mx-4"> -->
            <form #addProduct="ngForm"  (ngSubmit)="submit(addProduct.value)" class="mx-4">
                <div >
                    <div class="form-group">
                        <label for="exampleInputEmail1">Title</label>
                        <input type="itemTitle" class="form-control" id="name" name="name" ngModel >
                        <span class="error-text" >Please enter a title for this item.</span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Description</label>
                        <input type="itemDesc" class="form-control" id="description" name="description" ngModel>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Price (in Taka)</label>
                        <input type="itemPrice" class="form-control"   id="price" name="price" ngModel>
                        <span class="error-text" >Please enter a valid amount.</span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Category</label>
                        <select class="form-select" aria-label="Default select example" id="category" name="category" ngModel>
                            <option value="starters">Starters</option>
                            <option value="mains">Mains</option>
                            <option value="alcoholic-beverages">Alcoholic Beverages</option>
                            <option value="desserts">Desserts</option>
                            <option value="fastFood">FastFood</option>
                            <option value="desserts">Desserts</option>
                            <option value="desserts">Desserts</option>
                            <option value="desserts">Desserts</option>
                      </select>
                        <span class="error-text" >Please select a category.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Thumbnail image</label><br>
                    <input type="text" class="form-input form-control"  placeholder="Enter Product Image URL" name="image" ngModel /><br><br>
                    <span class="error-text" >Please set and upload an image for this item.</span>
                    <!-- <div class="form-group mobile-only"  style="margin-top: 15px;">
                        <div class="container-fluid no-padding">
                            <img  alt="" class="img-thumbnail" />
                        </div>

                        <div class="text-center">
                            <button type="button" class="btn btn-md btn-outline-danger" style="margin-top: 25px" >Delete image</button>
                        </div>
                    </div>

                    <input type="file" class="form-control text-nowrap text-truncate" accept="image/png, image/jpeg, image/jpg" id="imageUrl" formControlName="imageUrl" > -->

                    
                </div>

                <div  class="progress mt-2" style="margin-bottom: 15px;">
                    <div class="progress-bar progress-bar-animated bg-warning" role="progressbar"  aria-valuemin="0" aria-valuemax="100" >
                       
                    </div>
                </div>

                <!-- <div class="alert alert-danger" role="alert" >
                    Please select an .jpg, .jpeg or .png file only.
                </div> -->

                <!-- <div class="alert alert-danger" role="alert" >
                    Please upload an image smaller than 2 MB.
                </div> -->

                <!-- <div class="alert alert-success" role="alert" >
                  
                </div> -->


                <div class="form-group">
                   

                    <button type="submit" class="btn btn-md btn-outline-success" style="margin-left: 10px" >Add Food</button>

                    <button type="button" class="btn btn-md btn-outline-danger" style="margin-left: 10px" >Delete item</button>
                    <p class="message-p mx-3 text-success">{{addProductMessage}}</p>
                    
                </div>

            </form>


            <!-- <div class="container add-edit-div">
                <div class="row">
            
                    <div class="d-flex flex-row-reverse" style="margin-bottom: 30px;">
                        <div class="p-2">
                            <button type="button" class="btn btn-outline-primary" [routerLink]="['/dashboard']">
                                <i class="fa fa-arrow-left"></i>
                                <span style="margin-left: 3px; margin-bottom: 10px;">
                                    Display all items
                                </span>
                            </button>
                        </div>
<form  >
                <div >
                    <div class="form-group">
                        <label for="exampleInputEmail1">Title</label>
                        <input type="itemTitle" class="form-control" >
                        <span class="error-text" >Please enter a title for this item.</span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Description</label>
                        <input type="itemDesc" class="form-control" >
                    </div>
                    </div>    
                </form  > -->