<app-homenav></app-homenav>

<div class="row user-auth  container-fluid" >

<div class="col-md-3"></div>

    <div *ngIf="!showLogin"  class="sign-up  col-md-6 mx-5">
     <h1>User Signup</h1>
     <form #userSignUp="ngForm" class="common-form form-control" (ngSubmit)="signUp(userSignUp.value)">
      <label for=""><h4>Enter User Name</h4></label> 
      <input
         type="text"
         class="form-input form-control  mb-2"
         name="name"
         placeholder="Enter User Name "
         ngModel
       />
       <label for=""><h4>Enter User Email</h4></label> 
       <input
         type="text"
         class="form-input form-control  mb-2"
         name="email"
         placeholder="Enter User Email"
         ngModel
       />
       <label for=""><h4>Enter User Password</h4></label> 
       <input
       type="password"
       class="form-input form-control  mb-2"
       name="password"
       placeholder="Enter User Password"
       ngModel
     />
     <button class="form-button btn btn-info">Sign Up</button>
     <p>Already Have Account ? <a (click)="openLogin()" >Click Here</a></p>
     </form>
    </div>
   
    <div *ngIf="showLogin"  class="login card col-md-6" >
     <h1>User Login</h1>
     <form #userLogin="ngForm" class="common-form form-control" (ngSubmit)="login(userLogin.value)">
       <p class="error-p">{{authError}}</p>

       <label for=""><h4>Enter User Email</h4></label> 
       <input
         type="text"
         class="form-input form-control mb-2"
         name="email"
         placeholder="Enter User Email"
         ngModel
         email
         #email="ngModel"
         required
       />
       <p class="invalid-input"><span *ngIf="email.invalid && email.touched " >Please enter valid input</span></p>
       
       <label for=""><h4>Enter User password</h4></label> 
       <input
       type="password"
       class="form-input form-control  mb-2"
       name="password"
       placeholder="Enter User Password"
       ngModel
       minlength="2"
       maxlength="20"
       #password="ngModel"
       required
     />
     <p class="invalid-input"><span *ngIf="password.invalid && password.touched " >Please enter valid input</span></p>
     <button [disabled]="userLogin.invalid" class="form-button btn btn-info">Login</button>
     <p>Want to Create Account ? <a (click)="openSignUp()" >Click Here</a></p>
     </form>
    </div>

    <div class="col-3"></div>

   </div>
   